@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { border: dashed 1px red;} */

.bg-gradient {
  background-image: linear-gradient(
    to left bottom,
    #020e21,
    #030c24,
    #070a27,
    #0d0729,
    #13032a
  );
}

@layer components {
  .f-center {
    @apply flex justify-center items-center;
  }
}

.overlay-suggestions {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
}

.border-cell {
  border: 1px solid white;
  /* border-collapse: collapse; */
}
